<mat-card class="welcome-container">
  <mat-card-title align="center">
    <h1 class="md-display-3">What do you know about... @Quizer </h1>
  </mat-card-title>
  <mat-card-subtitle align="center">
    <h1 class="md-display-2">Choose your favourite quiz!</h1>
  </mat-card-subtitle>
  <div class="flex-container" fxLayout="row" fxLayout.xs="column">
    <mat-card class="quiz-card">
      <a routerLink="/quiz1" class="img-link">
        <!-- <img mat-card-image src="assets/images/maths.png" alt="picture of math elements"> -->
      </a>
      <div class="center">
        <a routerLink="/quiz1" color="primary" class="btn quiz-link-btn">quiz1</a>
      </div>
    </mat-card>
    <mat-card class="quiz-card">
      <a routerLink="/quiz2" class="img-link">
        <!-- <img mat-card-image src="assets/images/egyptians.png" alt="picture of egyptians"> -->
      </a>
      <div class="center">
        <a routerLink="/quiz2" color="primary" class="btn quiz-link-btn">quiz2</a>
      </div>
    </mat-card>

  </div>

</mat-card>
