<div class="results">
  <h1 class="md-display-1" align="center">Your results:</h1>
  <mat-card class="results-container">
    <div class="answer" *ngFor="let a of answers.values; let i=index" [ngClass]="{correct: a.correct}">
      <p class="question-repeat">{{i+1}}. {{questions[i].label}}</p>
      <p class="your-answer">{{a.value}} ---
        <span class="wrong-right">{{a.correct ? 'well done!' : 'oops, maybe next time'}}
        </span>
      </p>
    </div>
  </mat-card>
</div>
<div class="center">
  <a routerLink="/welcome">
    <button mat-raised-button color="primary" class="btn btn-primary">Choose another quiz</button>
  </a>
</div>
